.text-field {
    outline: none;
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-input);
    border: none;
    border-radius: 0.8rem;
    background-color: var(--background-color-input);
    transition: background-color 0.5s;
}
