div {
    position: relative;
}

.text-field {
    outline: none;
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 0.8rem;
    background-color: #f4f4f4;
}
