@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    --background-color-input: #f4f4f4;
    --color-input: #242424;
}

[data-theme="dark"] {
    --background-color-input: #1f1f1f;
    --color-input: #fff;
}

body {
    transition: background-color 0.5s ease-in-out;
}

.container {
    display: flex;
    justify-content: center;
}

.content-container {
    width: 70%;
}

header .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 4.2rem;
}

header h2 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-input);
}

header .theme-container {
    display: flex;
}

header .dark-mode {
    margin-top: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 480px) {
    .app-container {
        margin: 0 2rem;
    }

    .content-container {
        width: 100%;
    }

    header h2 {
        font-size: 2.5rem;
    }

    header .content-container {
        width: 100%;
    }
}
